body{
margin: 50vh;
background-color:rgba(255, 0, 0, 0.553);
color: rgba(0, 0, 255, 0.5);
text-decoration:none ;
}


.me{
width: 150px;
border-radius: 50%;   
margin: 20vh;
}
p{
    font-size: 20px
}
.img{
width: 200px;

}


body:hover{
  
    background-color: rgba(0, 0, 255, 0.50);
    color: rgba(255, 0, 0, 0.55);
    }
    
